* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-sm{
  padding-top: 80px;
}
.container {
  display: flex;
  justify-content: space-around;
}
.App {
  background-color: #92d3a1;
  height: 100vh;
}
.text-center {
  position: fixed;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #208f3a;
}
.card-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: auto;
  border-radius: 10px;
  margin: 15px;
}
.modal-dialog {
  max-width: 625px;
}
@media only screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
    border-radius: 10px;
    margin: 15px;
  }
  .rbc-addons-dnd {
    width: auto !important;
  }
  .rbc-toolbar {
    flex-direction: column;
  }
}
